:root {
  --rvn-black-color: #121212;
  --text-dark-color: #333333;
  --text-light-color: #828282;
  --text-emphasis-color: #ec5757;
  --white-color: #ffffff;

  --font-h2-default: normal normal bold 17px/20px SF Pro Display;
  --font-p1-default: normal normal normal 14px/17px SF Pro Display;
}

* {
  font: var(--font-p1-default);
  letter-spacing: 0.0125em;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h2 {
  color: var(--text-dark-color);
  font: var(--font-h2-default);
}

@media (min-width: 480px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .main__container {
    border: 2px solid green;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
