.header {
  height: 45px;
  background-color: var(--rvn-black-color);
}

.header__container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  position: relative;
  /** Flexbox styles **/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__title {
  color: var(--white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0125em;
}

.header__return {
  position: absolute;
  left: 0;
  cursor: pointer;
}

@media (min-width: 480px) {
  .header {
    height: 52px;
  }

  .header__container {
    justify-content: flex-start;
  }

  .header__return {
    display: none;
  }
}
