.loading {
  padding: 16px 0;
  /** Flexbox styles **/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.loading__text {
  color: var(--text-light-color);
}

@media (min-width: 480px) {
  .loading {
    width: 25%;
    min-width: 250px;
  }
}
